[Unit]
Description=Audio volume setup on emulator
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/opt/usr/devel/usr/bin/amixer "cset" "name='Master Playback Switch'" "1"
ExecStart=/opt/usr/devel/usr/bin/amixer "cset" "name='Master Playback Volume'" "50"
ExecStart=/opt/usr/devel/usr/bin/amixer "cset" "name='PCM Playback Switch'" "1"
ExecStart=/opt/usr/devel/usr/bin/amixer "cset" "name='PCM Playback Volume'" "31"

[Install]
WantedBy=emulator_preinit.target
