[Unit]
Description=OpenGL mode
DefaultDependencies=no
Before=basic.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/etc/emulator/virtgl.sh'

[Install]
WantedBy=emulator_preinit.target
