[Unit]
Description=Legacy emulator startup script
DefaultDependencies=no
After=vconf-setup.service
Before=basic.target

[Service]
Type=oneshot
ExecStart=/etc/rc.d/rc.emul
