[Unit]
Description=Legacy emulator startup script
DefaultDependencies=no
After=vconf-setup.service
Before=basic.target

[Service]
Type=oneshot

# W/A for alarm-service
ExecStartPre=/bin/touch /dev/rtc1
# Enable swap partition
ExecStartPre=/sbin/swapon /dev/vdb

ExecStart=/etc/rc.d/rc.emul
