[Unit]
Description=OpenGL "YAGL"
DefaultDependencies=no
After=emul-opengl-mode.service
Before=basic.target
ConditionKernelCommandLine=yagl=1

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'systemctl set-environment LD_LIBRARY_PATH="/usr/lib/yagl${LD_LIBRARY_PATH:+:$LD_LIBRARY_PATH}"'

[Install]
WantedBy=emulator_preinit.target
