[Unit]
Description=ALSA setup
DefaultDependencies=no
Before=basic.target

[Service]
Type=oneshot
ExecStart=/etc/init.d/emulator-alsa

[Install]
WantedBy=emulator_preinit.target
