[Unit]
Description=Collect Read-Ahead Data
DefaultDependencies=no
Conflicts=shutdown.target
After=smack.service smack_pre_labeling_priv.service
Before=sysinit.target shutdown.target
ConditionPathExists=/opt/etc/.vconf_labeling
ConditionPathExists=!/opt/.readahead

[Service]
Type=notify
ExecStart=/usr/lib/systemd/systemd-readahead collect --timeout=6s --savedir=/opt
RemainAfterExit=yes
StandardOutput=null

[Install]
WantedBy=default.target
