[Unit]
Description=Generate environment from /etc/profile.d
DefaultDependencies=no
After=opt.mount
Before=basic.target

[Service]
Type=oneshot
ExecStart=/usr/bin/env -i sh -c 'source /etc/profile; env | egrep -v "^(HOME|PWD|SHLVL|_)=" > /run/tizen-mobile-env'

[Install]
WantedBy=basic.target
