KERNEL=="yagl", GROUP="video", MODE="0660", SECLABEL{smack}="*"
SUBSYSTEM=="drm", GROUP="video", MODE="0660", SECLABEL{smack}="*"
KERNEL=="brillcodec", GROUP="hwcodec", MODE="0666", SECLABEL{smack}="*"
KERNEL=="video0", GROUP="camera", MODE="0660", SECLABEL{smack}="device::camera"
KERNEL=="video1", GROUP="video", MODE="0660", SECLABEL{smack}="device::video"
KERNEL=="video2", GROUP="video", MODE="0660", SECLABEL{smack}="device::video"
KERNEL=="vdpram*", GROUP="system", MODE="0660", SECLABEL{smack}="*"

# not enabled now
#KERNEL=="esm", MODE="0660", SECLABEL{smack}="*"

# SDCard
KERNEL=="vd[a-z]", ENV{ID_FS_LABEL_ENC}=="emul-sdcard*" SYMLINK+="sdcard/%k"
