KERNEL=="glmem",        MODE="0666", SECLABEL{smack}="*"
KERNEL=="yagl",         MODE="0666", SECLABEL{smack}="*"
KERNEL=="esm",          MODE="0666", SECLABEL{smack}="*"

KERNEL=="brillcodec",   GROUP="hwcodec", MODE="0666", SECLABEL{smack}="*"

KERNEL=="video0",       GROUP="camera", MODE="0660", SECLABEL{smack}="device::camera"
KERNEL=="video1",       GROUP="video", MODE="0660", SECLABEL{smack}="device::video"
KERNEL=="video2",       GROUP="video", MODE="0660", SECLABEL{smack}="device::video"

KERNEL=="vdpram*",      MODE="0644"

# Moved from /etc/rc.d/rc3.d/S30brightness
SUBSYSTEM=="lcd", ATTR{lcd_power}=="?*", RUN+="/bin/chown :system_bklight 0664 %S/%p/lcd_power"

SUBSYSTEM=="drm", SECLABEL{smack}="*"
